<ng-container *transloco="let t">
  <section
    fxFlex
    fxLayout.lt-md="column"
    fxLayout.gt-sm="row"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
  >
    <mat-card fxFlex.gt-sm="50" fxFlex.lt-md="100">
      <mat-card-title>{{ t("MAIN.START NEW SESSION") }}</mat-card-title>
      <mat-card-content class="padding-vertical">
        <mat-form-field
          appearance="fill"
          color="accent"
          class="width-100 no-bottom-space"
        >
          <mat-label>{{ t("MAIN.SESSION NAME") }}</mat-label>
          <input
            type="text"
            matInput
            placeholder="eg. Web Dev Pointing Session"
            #sessionName
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-stroked-button
          color="accent"
          (click)="startSession(sessionName.value)"
          [disabled]="!sessionName.value"
        >
          {{ t("MAIN.START") }}
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card fxFlex.gt-sm="50" fxFlex.lt-md="100">
      <mat-card-title>{{ t("MAIN.JOIN SESSION") }}</mat-card-title>
      <mat-card-content class="padding-vertical">
        <mat-form-field
          appearance="fill"
          color="accent"
          class="width-100 no-bottom-space"
        >
          <mat-label>{{ t("MAIN.SESSION ID") }}</mat-label>
          <input
            type="text"
            matInput
            placeholder="eg. OutrageousCreator"
            #sessionId
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-stroked-button
          color="accent"
          [routerLink]="sessionId.value"
          [disabled]="!sessionId.value"
        >
          {{ t("MAIN.JOIN") }}
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</ng-container>
