/* You can add global styles to this file, and also import other style files */

$default-padding: 7;
$default-margin: 7;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@for $i from 5 through 100 {
  @if $i % 5 == 0 {
    .margin-#{$i} {
      margin: #{$i}px !important;
    }

    .padding-#{$i} {
      padding: #{$i}px !important;
    }

    .width-#{$i} {
      width: percentage(calc($i / 100)) !important;
    }
  }
}

.padding-vertical {
  padding-top: #{$default-padding}px !important;
  padding-bottom: #{$default-padding}px !important;
}

.padding-horizontal {
  padding-left: #{$default-padding}px !important;
  padding-right: #{$default-padding}px !important;
}

.margin-vertical {
  margin-top: #{$default-margin}px !important;
  margin-bottom: #{$default-margin}px !important;
}

.margin-horizontal {
  margin-left: #{$default-margin}px !important;
  margin-right: #{$default-margin}px !important;
}

.no-bottom-space {
  .mat-form-field-wrapper {
    margin-bottom: -2em !important;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #7e7e7e;
  animation: spinner 0.8s linear infinite;
}

.vertical-scrollbar {
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #aeaeae;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius: 10px;
  width: 4px;
}

mat-icon.mat-card-avatar {
  width: 48px;
  height: 48px;
  font-size: 48px;
}
