/* You can add global styles to this file, and also import other style files */

$default-padding: 7;
$default-margin: 7;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@for $i from 5 through 100 {
  @if $i % 5 == 0 {
    .margin-#{$i} {
      margin: #{$i}px;
    }

    .padding-#{$i} {
      padding: #{$i}px;
    }

    .width-#{$i} {
      width: percentage(calc($i / 100));
    }
  }
}

.padding-vertical {
  padding-top: #{$default-padding}px;
  padding-bottom: #{$default-padding}px;
}

.padding-horizontal {
  padding-left: #{$default-padding}px;
  padding-right: #{$default-padding}px;
}

.margin-vertical {
  margin-top: #{$default-margin}px;
  margin-bottom: #{$default-margin}px;
}

.margin-horizontal {
  margin-left: #{$default-margin}px;
  margin-right: #{$default-margin}px;
}

.no-bottom-space {
  .mat-form-field-wrapper {
    margin-bottom: -2em !important;
  }
}
