<ng-container *transloco="let t">
  <nav class="mat-elevation-z1">
    <mat-toolbar color="primary">
      <a mat-button routerLink="/">{{ t("MAIN.TITLE") }}</a>

      <span class="toolbar-spacer"></span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-raised-button color="accent">
          {{ t("MAIN.START NEW SESSION") }}
        </button>
      </div>
      <button
        mat-mini-fab
        fxHide="false"
        fxHide.gt-sm
        color="accent"
        [matTooltip]="t('MAIN.START NEW SESSION')"
      >
        <mat-icon>start</mat-icon>
      </button>
    </mat-toolbar>
  </nav>

  <router-outlet></router-outlet>
</ng-container>
